<div class="modal fade" id="addHostnameModal" tabindex="1" aria-labelledby="addHostnameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"
        id="add-whitelist"
        action="{{ baseUrl}}/add"
      >

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addHostnameModalLabel">Add Hostname</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <div class="mb-3">
            <label for="inputHostname" class="col-form-label">New Hostname:</label>
            <input name="hostname" type="text" class="form-control" id="inputHostname" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>

      </form>
    </div>
  </div>
</div>