{% extends template %}

{% block content %}
<ul>
  {% for link in links %}
  <li>
    <a href="{{ basePath }}/view/{{ link.uuid }}"><strong>https://{{ link.hostname}}/{{ link.name }}</strong></a>
    
    <ul>
      <li>
        target: <a href="{{ link.target_url }}"><strong>{{ link.target_url }}</strong></a>
      </li>

      {% if showAllUsers %}
      <li>
        owned by {{ link.user_email }}
      </li>
      {% endif %}

      <li>
        created at {{ link.created | simpleDateTime }}
      </li>

      <li>
        Hit count: {{ link.hit_count }}
      </li>

      {% if link.disabled %}
      <li>this link has DISABLED</li>
      {% endif %}
    </ul>
    
      

      
  </li>
  {% endfor %}
</ul>

<a href="{{ basePath }}/add">
Create a new link
</a>

<canvas class="my-4 w-100" id="hitsPerDayChart" width="900" height="150"></canvas>

{% endblock %}

{% block bodyEnd %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
<script>

/* globals Chart:false */

(() => {
  'use strict'

  // Graphs
  const ctx = document.getElementById('hitsPerDayChart')
  // eslint-disable-next-line no-unused-vars
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for item in hitsPerDay %}
        '{{ item.date | simpleDate }}',
        {% endfor %}
      ],
      datasets: [{
        data: [
          {% for item in hitsPerDay %}
          {{ item.hitCount }},
          {% endfor %}
        ],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          boxPadding: 3
        }
      }
    }
  })
})();

</script>

{% endblock %}
