{% extends template %}

{% block content %}
<ul>

{% for link in links %}
<li>
  <a href="/dashboard/my-links/view/{{ link.name }}">https://{{ link.hostname}}/{{ link.name }}</a>
  
  will be redirected to 

  <a href="{{ link.target_url }}">{{ link.target_url }}</a>,
  
  created at
    {{ link.created | simpleDateTime }}

    {% if link.disabled %}
    (DISABLED)
    {% endif %}
</li>
{% endfor %}

</ul>
{% endblock %}
