{% extends template %}

{% block content %}

<ul>
  <li>https://{{ target.hostname }}/{{ target.name }}</li>
  <li>{{ target.hit_count }} hits</li>
</ul>

{% include "my-links.form-edit.html.njk" %}

<p>
<a href="{{ basePath }}">Back to link list</a>
</p>

{% include "my-links.line-chart-visits.html.njk" %}

{% endblock %}
