
<canvas class="my-4 w-100" id="{{ visitChartName }}" width="900" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>

<script>
/* globals Chart:false */

(() => {
  'use strict'

  // Graphs
  const ctx{{ visitChartName }} = document.getElementById('{{ visitChartName }}')
  // eslint-disable-next-line no-unused-vars
  const myChart = new Chart(ctx{{ visitChartName }}, {
    type: 'line',
    data: {
      labels: [
        {% for item in visitChartData %}
        '{{ item.label }}',
        {% endfor %}
      ],
      datasets: [{
        data: [
          {% for item in visitChartData %}
          {{ item.value }},
          {% endfor %}
        ],
        lineTension: 0,
        {# backgroundColor: 'transparent', #}
        borderColor: '#007bff',
        borderWidth: 2,
        pointBackgroundColor: '#007bff',
        fill: true,
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          boxPadding: 3
        }
      },
      scales: {
        y: {
          min: 0
        },
      },
    }
  })
})();
</script>
