<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"
        id="change-password"
        action="{{ baseUrl}}/change-password"
      >

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="changePasswordModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input name="email" id="username" value="{{ user.email }}" autocomplete="username" style="display: none;">

        <div class="mb-3">
          <label for="password" class="col-form-label">New password:</label>
          <input name="newPassword" type="password" class="form-control" id="password" required
              autocomplete="new-password"
          >
        </div>

        <div class="mb-3">
          <label for="password1" class="col-form-label">Retype new password:</label>
          <input name="newPasswordConfirmation" type="password" class="form-control" id="password1" autocomplete="off" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>

      </form>
    </div>
  </div>
</div>